@import '../../_settings';

.AddGreeter {
    border: $component-border;
    text-align: center;
    background: $belize-blue;
    color: $almost-black;
    margin: $gutter-md;
    padding: $gutter-md;
}
