@import '../../_settings';

.HelloWorld {
    border: $component-border;
    text-align: center;
    background: $emerald;
    color: $almost-black;
    margin: $gutter-md;
    padding: $gutter-md;
}
