@import '../../_settings';

.ComponentLifeCycleFunc {
    border: $component-border;
    text-align: center;
    background: $orange;
    color: $almost-black;
    margin: $gutter-md;
    padding: $gutter-md;
}
