@import '../../_settings';

.ComponentLifeCycleClass {
    border: $component-border;
    text-align: center;
    background: $sun-flower;
    color: $almost-black;
    margin: $gutter-md;
    padding: $gutter-md;
}
