@import '../../_settings';

.ComponentLifeCycleClassParent {
    border: $component-border;
    text-align: center;
    background: $pumpkin;
    color: $almost-black;
    margin: $gutter-md;
    padding: $gutter-md;
}
