@import '../../_settings';

.ComponentLifeCycleClass {
    border: 2px solid $black;
    text-align: center;
    background: $sun-flower;
    color: $almost-black;
    margin: 20px;
    padding: 20px;
}
