// COLORS (https://flatuicolors.com/)

$black: #000;
$almost-black: #333;
$clouds: #ecf0f1;
$belize-blue: #2980b9;
$sun-flower: #f1c40f;
$pumpkin: #d35400;
$orange: #f39c12;
$emerald: #2ecc71;
$river: #3498db;

//
// SIZES

$site-max-width: 960px;
