//    NOTES
//    - If using 3party libraries, it could be a good idea to prefix variables (and CSS classes), so they dont conflict
//    - The docs are a little bit against going heavy on SASS architecture, they say that with the right React workflow it is not needed
//        * https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc


// COLORS (https://flatuicolors.com/)

$black: #000;
$almost-black: #333;
$clouds: #ecf0f1;
$belize-blue: #2980b9;
$sun-flower: #f1c40f;
$pumpkin: #d35400;
$orange: #f39c12;
$emerald: #2ecc71;
$river: #3498db;

//
// SIZES

$site-max-width: 960px;
$gutter-md: 20px;

//
// STYLES

$component-border: 2px solid $black;
