@import '../../_settings';

.HelloWorldWithState {
    border: $component-border;
    text-align: center;
    background: $river;
    color: $almost-black;
    margin: $gutter-md;
    padding: $gutter-md;
}

@import 'foo';
