@import '../../_settings';

.HelloWorldWithState {
    border: 2px solid $black;
    text-align: center;
    background: $river;
    color: $almost-black;
    margin: 20px;
    padding: 20px;
}

@import 'foo';
